html, * {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #051D3B;
}


/* Nav Section*/


.header-box, main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.hearder-box h1 {
    max-width: 11.813rem;
    width: 100%;
}


/*Search Area*/

.header-box input {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 0.5rem;
    width: 47rem;
    height: 3.5rem;
}

::placeholder, select {
    color: lightgray;
    padding: 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

textarea:focus, input:focus {
    color: lightgray;
    line-height: normal;
    padding: 1rem;
    margin-top: 0.5rem;
}

/* Profile */

.header-box ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    list-style-type: none;
    max-width: 17rem;
}

.header-box ul li {
    margin: 0.063rem 0.25rem;
}

.header-box ul li p {
    padding: 0.125rem;
}

.header-box--mobile-search, .header-box--mobile-menu {
    display: none;
}

/* Menu */

.menu {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 11.813rem;
    width: 100%;
    min-height: 100vh;
    margin: 0 1rem 0 0;
}

.menu h2 {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu img {
    margin-right: 1rem;
}

.menu--item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 11.813rem;
}

.menu a {
    margin-top: 1rem;
    align-items: center;
    text-decoration: none;
}


.code-editor {
    min-height: 100vh;
    margin-left: 5rem;
}

/* Code Editor */

.code-editor--content {
    padding: 2rem;
    background: #6BD1FF;
    border-radius: 0.5rem;
}

.code-editor--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    max-width: 43rem;
    height: 18.875rem;
    background: #141414;
    box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.24);
    border-radius: 0.5rem;
}

.code-editor--text textarea {
    background: #141414;
    resize: none;
    border: none;
    text-align: left;
    overflow:hidden;
}


/* Mac Buttons */

.mac-buttons {
    display: flex;
    justify-content: space-between;
    width: 3.25rem;
}

.mac-buttons .mac-buttons--red {
    width: 0.75rem;
    height: 0.75rem;
    background: #FF5F56;
    border-radius: 50%;
}

 .mac-buttons .mac-buttons--yellow{
    width: 0.75rem;
    height: 0.75rem;
    background: #FFBD2E;
    border-radius: 50%;
}

.mac-buttons .mac-buttons--green {
    width: 0.75rem;
    height: 0.75rem;
    background: #27C93F;
    border-radius: 50%;
}

/* Hightlight View Button */

.code-editor button {
    width: 47rem;
    height: 3.5rem;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 0.5rem;
    border: none;
    margin-top: 2rem;

}

/* Sidebar Add Details */

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 17rem;
    width: 100%;
    border: none;
    padding: 0;
}

.sidebar {
    font-size: 0.5rem;
    line-height: 1.125rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.sidebar input, .sidebar textarea, .sidebar select, .sidebar button {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 0.5rem;
    border: none;
    resize: none;
    width: 17rem;
    height: 3.5rem;
}

.sidebar h2 {
    margin: 0 0 1rem 0;
}

.sidebar input {
    font-family: Inter;
    margin: 0.5rem 0 1rem 0;
}

.sidebar textarea[id=description] {
    margin-bottom: 2rem;;
    height: 5rem;
}

.sidebar input[type=color] {
    background: rgba(196, 196, 196, 0.01);
    border: 0.063rem solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.sidebar button {
    background: #5081FB;
    border-radius: 0.5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #051D3B;
    margin-top: 2rem;
}





