html, * {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #051D3B;
}


/* Nav Section*/
nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 100vh;
    padding: 2rem;
}

.nav-logo img {
    margin-top: 6%;
}

/*Search Area*/

.nav-search input {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 0.5rem;
    position: static;
    width: 47rem;
    height: 3.5rem;
    left: 0rem;
    top: 0rem;
}

::placeholder {
    color: lightgray;
    padding: 1rem;
}

textarea:focus, input:focus {
    color: lightgray;
    line-height: normal;
    padding: 1rem;
}

/* Profile Picture*/
.nav-profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: right;
}

.nav-profile p {
    margin: 0.2rem 0.6rem 0.6rem 0.6rem;
}


/* Menu */

.menu {
    position: absolute;
    max-width: 15rem;
    width: 100%;
    height: 9.125rem;
    left: 2rem;
    top: 8rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}

.menu h2 {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.code-editor, .community {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5% 5% 2% 0 ;
}

.code-editor span, .community span {
     padding: 5% 6% 6% 6%;
}


