html, * {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #051D3B;
}


/* Nav Section*/


.header-box, main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}


/*Search Area*/

.header-box input {
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 0.5rem;
    width: 47rem;
    height: 3.5rem;
}

::placeholder {
    color: lightgray;
    padding: 1rem;
}

textarea:focus, input:focus {
    color: lightgray;
    line-height: normal;
    padding: 1rem;
}

/* Profile */

.header-box ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
}

.header-box ul li {
    margin: 0.063rem 0.25rem;
}

.header-box ul li p {
    padding: 0.125rem;
}

/* Menu */

.menu h2 {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 1rem 0;
}

.menu--code-editor, .menu--community {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0.5rem 0;
    width: 189px;
}

.menu--code-editor span, .menu--community span {
     padding: 0.9rem;

}

/* Code Editor */

.code-editor--content {
    padding: 2rem;
    background: #6BD1FF;
    border-radius: 0.5rem;
}

.code-editor--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 43rem;
    height: 18.875rem;

    background: #141414;
    box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.24);
    border-radius: 0.5rem;
}

/* Mac Buttons */


.mac-buttons .mac-buttons--red {
    width: 0.75rem;
    height: 0.75rem;
    left: 2.813rem;
    top: 3.438rem;
    background: #FF5F56;
    border-radius: 50%;
}

 .mac-buttons .mac-buttons--yellow{
    width: 0.75rem;
    height: 0.75rem;
    left: 4.125rem;
    top: 3.438rem;
    background: #FFBD2E;
    border-radius: 50%;
}

.mac-buttons .mac-buttons--green {
    width: 0.75rem;
    height: 0.75rem;
    background: #27C93F;
    border-radius: 50%;
}

button {
    width: 47rem;
    height: 3.5rem;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 0.5rem;
    border: none;
}
