html {
    color: var(--white);
}

body {
    font-family: var(--inter);
    background-color: var(--darker-blue)
}

a {
    color: white;
}

::placeholder,
select {
    color: var(--white);
    padding: 0 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

textarea:focus,
input:focus {
    color: var(--white);
    line-height: normal;
    padding: 1rem;
}

textarea,
input[type=search],
input[type=text] {
    outline: none;
    color: var(--white);
    padding: 0 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

.button:active {
    background-color: var(--filled-pressed);
    border: 0.25rem solid var(--filled-border);
    border-radius: 0.5rem;
}

.button:hover {
    background-color: var(--filled-hover)
}

.button:focus {
    background-color: var(--filled-focus);
}

.button.selected {
    background-color: var(--filled-pressed);
    border: 0.25rem solid var(--filled-border);
    border-radius: 0.5rem;
}

.btn-outlined:hover {
    background-color: var(--outlined-hover-pressed);
}

.btn-outlined:focus {
    background: var(--outlined-border-focus);
}

.btn-outlined:active {
    background-color: var(--outlined-hover-pressed);
    border: 0.25rem solid var(--outlined-border-focus);
    border-radius: 0.5rem;
}

.input-select:hover {
    background-color: var(--input-select--hover);
}

.icon-menu:hover {
    background-color: var(--menu-hover);
}

.mobile:hover {
    background-color: var( --mobile--hover)
}


/* code container */

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1%;
}

.container__code-editor__border,
.container__code-editor__button,
.container__code-editor__text,
.container__code-editor__border code {
    width: 100%;
}

.container__code-editor__project {
    background-color: var(--container);
    border-radius: .5rem;
    color: white;
}

.container__code-editor__border {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--sky-blue);
}

.container__code-editor__text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--black);
    box-shadow: 0rem 1rem 1.5rem var(--light-black);
    border-radius: 0.5rem;
    color: var(--white);
    overflow: auto;
    font-size: .75rem;
}

.code {
    white-space: pre-line;
    text-align: left;
    outline: none;
}

.code-ident {
    border: none;
    outline: none;
    white-space: pre-line;
}

.container__code-editor__text::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
    background-color: var(--outlined-normal);
    border-radius: 0.5rem;
}

.container__code-editor__text::-webkit-scrollbar-thumb {
    background-color: var(--input-select--normal);
    border-radius: 0.5rem;
}

.container__code-editor__text::-webkit-scrollbar-thumb:hover {
    background-color: var(--input-select--hover);
    border-radius: 0.5rem;
}


/* mac buttons */

.container__code-editor__mac-buttons {
    display: flex;
    justify-content: space-between;
    width: 3.25rem;
    margin-bottom: .75rem;
}

.container__code-editor__mac-buttons__red {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--red);
    border-radius: 50%;
}

.container__code-editor__mac-buttons__yellow {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--yellow);
    border-radius: 50%;
}

.container__code-editor__mac-buttons--green {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--green);
    border-radius: 50%;
}


/*clears the 'X' */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}