/* card-actions */

.btn-profile,
.btn-comment,
.btn-heart {
    background-color: inherit;
    color: white;
    font-size: 1rem;
    border-radius: .5rem;
    padding: .3rem;
}

.card-actions {
    padding-bottom: .5rem;
    font-size: 1rem;
}

.container__code-editor__project-details_metrics {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.container__code-editor__project-details {
    margin: 1rem;
    font-size: 1rem;
    font-family: var(--inter);
}

.container__code-editor__project-details h1 {
    font-weight: 700;
}

.container__code-editor__project-details p {
    font-weight: 400;
}

.metrics-button,
.btn-profile {
    display: flex;
    justify-content: space-between;
    border: none;
}

.metrics-button button {
    border: none;
    width: 3.5rem;
}

.btn-profile {
    padding-top: .4rem;
}

.btn-profile p {
    padding: .3rem 0 0 .5rem;
}

@media screen and (min-width: 1025px) {
    .container__menu {
        width: 31%;
    }
}