.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1%;
}

.container__code-editor__project-details_metrics {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.container__code-editor__project-details {
    margin: 1rem;
}

.metrics-button {
    display: flex;
    /* width: 100%; */
}

.metrics-button button {
    border: none;
    padding: .75rem;
    margin: 0;
    width: 100%;
}

.container__code-editor__border,
.container__code-editor__button,
.container__code-editor__text,
.container__code-editor__border textarea {
    width: 100%;
}

.container__code-editor__border {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--sky-blue);
}

.container__code-editor__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    background: var(--black);
    box-shadow: 0rem 1rem 1.5rem var(--light-black);
    border-radius: 0.5rem;
    color: var(--white);
    overflow: auto;
}

.container__code-editor__textarea {
    background: var(--black);
    resize: none;
    border: none;
    text-align: left;
}


/* mac buttons */

.container__code-editor__mac-buttons {
    display: flex;
    justify-content: space-between;
    width: 3.25rem;
    margin-bottom: .75rem;
}

.container__code-editor__mac-buttons__red {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--red);
    border-radius: 50%;
}

.container__code-editor__mac-buttons__yellow {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--yellow);
    border-radius: 50%;
}

.container__code-editor__mac-buttons--green {
    width: 0.75rem;
    height: 0.75rem;
    background: var(--green);
    border-radius: 50%;
}