.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* margin: 3%; */
    padding: 0 1.5rem;
    height: 6rem;
}

.header__logo,
.header__search,
.header__profile {
    display: flex;
    align-items: center;
}

.header__profile__button,
.container__menu__item {
    border-radius: 0.5rem;
    padding: 0.9rem;
}

.nav-menu *,
.header__profile * {
    background-color: transparent;
    font-size: 1rem;
}

.header__mobile__search,
.header__mobile__menu {
    background-color: inherit;
    border: none;
    color: var(--white);
}

.header__mobile__search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__mobile__search input {
    background-color: var(--dark-blue);
    border: none;
    border-radius: .5rem;
    max-width: 9.3rem;
    height: 2.5rem;
    font-size: 1rem;
    margin: 0;
}