.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 3%;
    height: 6rem;
}

.header__logo,
.header__search,
.header__profile {
    display: flex;
    align-items: center;
}

.header__profile__button,
.header__mobile__menu,
.container__menu__item {
    border-radius: 0.5rem;
    padding: 0.9rem;
}

.nav-menu *,
.header__profile * {
    background-color: transparent;
}

.header__mobile__search,
.header__mobile__menu {
    background-color: inherit;
    border: none;
    color: var(--white);
}