:root {
    --dark-blue: #051D3B;
    --medium-blue: rgba(255, 255, 255, 0.16);
    --light-blue: #5081FB;
    --lighter-blue: #7BA4FC;
    --sky-blue: #6BD1FF;
    --white: #FFF;
    --black: #141414;
    --light-black: rgba(0, 0, 0, 0.24);
    --inter: 'Inter', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 2%;
    height: 6rem;
}

.header__logo,
.header__search,
.header__profile {
    display: flex;
    align-items: center;
}

.header__mobile__search,
.header__mobile__menu {
    background-color: inherit;
    border: none;
    color: var(--white);
}


/*search area*/

::placeholder,
select {
    color: var(--white);
    padding: 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

textarea:focus,
input:focus {
    color: var(--white);
    line-height: normal;
    padding: 1rem;
    margin-top: 0.5rem;
}