.container__menu {
    display: flex;
    flex-direction: column;
}

.container__menu__nav h2 {
    font-size: 1rem;
    line-height: 1.125rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.container__menu ul {
    list-style-type: none;
    padding: 0;
}

.container__menu a {
    padding: .75rem;
}

.container__menu__item {
    display: flex;
    padding: .40rem .40rem 0 0;
}

.container__menu__item__icon {
    background: transparent;
    font-size: 1.25rem;
    padding: .60rem .65rem;
    border-radius: 1rem;
    align-items: center;
    margin-top: 0.188rem;
}

.container__menu__item__icon i {
    margin: 0;
}

.container__menu__item__name {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}

.active {
    background: var(--filled-normal);
}

.desactive {
    background: var(--outlined-normal);
}

.nav-menu {
    border-radius: 0.5rem;
    transition: 0.3s;
    position: fixed;
    right: -100%;
    top: 6rem;
}

.nav-menu.active {
    position: fixed;
    right: 0%;
    bottom: 5%;
    background-color: var(--dark-blue);
    border-radius: 0.5rem;
    transition: 0.3s;
    right: -100%;
    top: 6rem;
}

.nav-menu ul {
    background-color: var(--dark-blue);
    padding: 0;
    margin: 1% 2%;
}

.name-nav-menu {
    padding: .70rem 0 0 .75rem;
}

.nav-menu-profile {
    padding: .30rem 0 0 .75rem;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid var(--light-black);
    border-bottom: 1px solid var(--input-select--hover);
}