@media screen and (min-width: 0px) and (max-width: 437px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    /* header  */
    .header,
    .header__search,
    .header__profile,
    .header__profile img,
    .header__profile p,
    .container__menu {
        display: none;
    }
    .nav-menu.active {
        left: 40%;
    }
    .container__menu__item__name {
        text-decoration: none;
        color: var(--white);
        font-size: .90rem;
        padding: 1rem 0 0 .75rem;
    }
    /* code editor container */
    .container__code-editor {
        margin: 0;
        min-height: 1vh;
    }
    .container__codes {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px 2em;
        width: 100%;
        padding: 0 3%;
    }
    .container__code-editor__border {
        height: 27rem;
    }
    .container__code-editor__text {
        max-height: 23rem;
    }
    .container__code-editor__text,
    .container__code-editor__border code {
        width: 100%;
        height: 100%;
    }
    .container__form {
        padding: 0 3%;
    }
}


/* ipad  */

@media screen and (min-width: 436px) and (max-width: 1024px) {
    /* header  */
    .header,
    .header__profile,
    .header__profile img,
    .header__profile p,
    .container__menu,
    .header__mobile__search {
        display: none;
    }
    .header__mobile__logo {
        width: 30%;
    }
    .header__search {
        display: flex;
        width: 100%;
        padding: 0 2%;
    }
    .header__search input {
        width: 100%;
        background: var(--input-select--normal);
        border: none;
        border-radius: 0.5rem;
        height: 3rem;
    }
    .nav-menu.active {
        left: 63%;
    }
    .container__menu__item__name {
        text-decoration: none;
        color: var(--white);
        font-size: .90rem;
        padding: 1rem 0 0 .75rem;
    }
    /* code editor container */
    .container__codes {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px 2em;
        width: 100%;
        padding: 0 1rem;
    }
    .container__code-editor__border {
        height: 23rem;
    }
    .container__form__personalization__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .container__code-editor__text {
        min-height: 19rem;
        max-height: 19rem;
    }
    /* code editor form*/
    .container__form {
        padding: 0 3%;
    }
    .container__form__personalization__content select {
        margin-right: 2%;
    }
    .container__form__personalization__content input {
        margin: 0;
    }
}


/* laptop */

@media screen and (min-width: 1025px) {
    .header__mobile__menu,
    .header__mobile__search,
    .header__mobile__logo,
    .header__mobile {
        display: none;
    }
    .header,
    .container {
        padding: 1rem;
        margin: 0;
    }
    .header__logo {
        width: 50%;
    }
    .header__search {
        display: flex;
        width: 100%;
    }
    .header__search input {
        width: 100%;
        background: var(--input-select--normal);
        border: none;
        border-radius: 0.5rem;
        height: 3rem;
    }
    .header__profile {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 50%;
        margin: 0 0 0 5%;
    }
    .header__profile__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        border-radius: 1rem;
        border: none;
        color: var(--white);
    }
    .header__profile__button p {
        padding-left: 0.5rem;
    }
    .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    .container__menu__item__name {
        text-decoration: none;
        color: var(--white);
        font-size: 1rem;
        padding: 1rem;
    }
    .container__code-editor {
        width: 100%;
    }
    .container__code-editor__text {
        max-height: 21rem;
        min-height: 21rem;
    }
    .container__form {
        display: flex;
        justify-content: end;
        width: 50%;
        margin-left: 5%;
    }
    .container__codes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, auto));
        grid-auto-rows: minmax(100px, auto);
        gap: 1em;
        width: 100%;
    }
}